<!DOCTYPE html>
<html>
<head>
    <title>Repo Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h2>RepoIQ</h2>
        <form method="post">
            <input type="text" name="repo_url" placeholder="Enter GitHub repo URL" required style="width:100%;max-width:340px;">
            <button type="submit" style="width:100%;max-width:180px;">Analyze</button>
        </form>
    </div>
</body>
</html>
